{% extends 'app/base.html' %}

{% load static %}
{% block body %}

<div class="wrapper">
    <div class="inner">
        <div class="image-holder">
            <img src={% static "app/images/registration-form-4.jpg" %} alt="">
        </div>              
      
      <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <h3>Beauty Login</h3>
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
            {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %}
            {% endif %}     

            {{ form.non_field_errors }}

            <div class="form-holder ">
                    <!-- {{ form.username.label_tag }} -->
                    {{ form.username }}                        
            </div>            
            <div class="form-holder ">
                    <!-- {{ form.password.label_tag }} -->
                    {{ form.password }}                        
            </div>            
            <div class="form-login">
                    <button>Login</button>		
                    <a href="{% url 'password_reset' %}">Lost password?</a>
                    <!-- <input type="submit" value="login" /> -->
                    <input type="hidden" name="next" value="{{ next }}" />
            </div>        
      </form>
      
      {# Assumes you setup the password_reset view in your URLconf #}
      <p></p>

    </div>
</div>
<script>
            
        $( function() {
            $('#id_username').attr('class', 'form-control');
            $('#id_username').attr('placeholder', 'Login');
            $('#id_password').attr('class', 'form-control');
            $('#id_password').attr('placeholder', 'Password');
        });
            
                  
</script>
{% endblock %}
  

